{
  "env": {
    "mocha": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "strict": ["error", "global"],
    "semi": ["error", "never"],
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-expressions": "off",
    "class-methods-use-this": "off",
    "no-bitwise": "off",
    "function-paren-newline": ["error", "consistent"],
    "prefer-destructuring": [
      "error",
      {
        "object": true,
        "array": false
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ]
  }
}
